# Python related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pyzw
*.pytest_cache

# Build related files
build/
dist/
*.egg-info/

# IDE related files
.vscode/
.idea/

# Miscellaneous files
.DS_Store
.cache/
*.log
*.swp
*~

